<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-4">
        <h2>{{ name }}, {{ country }} <img ng-src="{{ iconUrl }}" alt="icon"/></h2>
        <h4>{{ date | date: 'fullDate' }}</h4>
      </div>
      <div class="col-sm-4">
        <h3 class="text-capitalize">{{ description }}</h3>
        <p>Max temp: {{ maxTemp | number: 0 }}&nbsp;&#8451;</p>
        <p>Min temp: {{ minTemp | number: 0 }}&nbsp;&#8451;</p>
      </div>
      <div class="col-sm-4">
        <button ng-click="showExtra = !showExtra" class="btn btn-success">More Details</button>
        <div ng-show="showExtra" class="extra-details">
          <span>Humidity: {{ maxTemp | number: 0 }}%<span class="pipe">|</span></span>
          <span>Wind: {{ minTemp | number: 0 }}mt/s<span class="pipe">|</span></span>
          <span>Cloudiness: {{ minTemp | number: 0 }}%</span>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-sm-2" ng-repeat="forecast in city.list | limitTo:5:1">
      <h6>{{ forecast.dt * 1000 | date: 'fullDate' }}</h6>
      <p class="text-capitalize">{{ forecast.weather[0].description }}</p>
      <img ng-src="{{ forecast.weather[0].icon }}" alt=""/>
    </div>
  </div>
</div>